.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
  }

  .desc{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
